
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# Virtual env
venv/
.env

# Data
data/
Preprocessed Data/combined_data.csv
Extracted Features/combined_wav2vec_features.csv
deployment/
*.csv
*.wav

# Models
models/
*.pt
*.pth
*.h5

# System files
.DS_Store
Thumbs.db
# Ignore specific training script
train_emotion_classifier_copy_T.py
